body, ul, p, h1, h2, h3, h4, h5, h6{
    margin: 0;
    padding: 0;
    /* font-family: 'Bodoni Moda', serif; //타이틀
    font-family: 'Khula', sans-serif; //로고
    font-family: 'Noto Sans KR', sans-serif; //작은 글씨들*/
    user-select: none;
}
p {font-family: 'Noto Sans KR', sans-serif;}
ul {list-style: none;}
a {
    text-decoration: none;
    color: inherit;
}
img{width: 100%;}
.wrap {
    width: 100%;
    overflow: hidden;
}
.container{
    padding: 0 5%;
    box-sizing: border-box;
    overflow: hidden;
}

/* ////////fonts///////// */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v88/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}
@font-face {
    font-family: 'Material Icons Outlined';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialiconsoutlined/v62/gok-H7zzDkdnRel8-DQ6KAXJ69wP1tGnf4ZGhUce.woff2) format('woff2');
}
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

.material-icons-outlined {
    font-family: 'Material Icons Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}
/* //////////TOP BTN////////// */
.top_btn{
    width: 65px;
    height: 65px;
    border: 1px solid #aaa;
    border-radius: 50%;
    position: fixed;
    bottom: 35px;
    right: 5%;
    z-index: 99;
    cursor: pointer;
}
.scr_arrow {
    font-size: 18px !important;
    color: #aaa;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(180deg);
    transition: all 0.3s;
}
.scr_arrow_ac {
    transform: translate(-50%, -50%) rotate(0);
}
/* //////////HEADER////////// */
.header_fixed{
    width: 100%;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    opacity: 1;
    /* box-shadow: 0 1px 3px rgba(0, 0, 0, 15%);
    background: none; */
}
.h_fixed_ac {opacity: 0;}
.header_wrap{
    height: 80px;
    margin: 0 5%;
    box-sizing: border-box;
    position: relative;
}
.h_logo {
    font-size: 28px;
    font-weight: 700;
    font-family: 'Khula', sans-serif;
    color: #222;
    position: absolute;
    left: -2px;
    top: 43px;
    z-index: 2;
}
.h_logo a {display: inline-block;}
.h_search {
    width: 28px;
    padding-right: 20px;
    cursor: pointer;
    position: absolute;
    top: 50px;
    right: 125px;
}
.sh_w{display: none;}
.h_menu {
    cursor: pointer;
    padding: 10px;
    position: absolute;
    top: 40px;
    right: -10px;
}
.h_menu b {
    font-size: 13px;
    font-weight: 600;
    font-family: 'Noto Sans KR', sans-serif;
    color: #222;
    position: relative;
    top: -5px;
    right: 10px;
}
.menu_btn{
    width: 30px;
    display: inline-block;
    cursor: pointer;
}
.menu_btn_line{
    width: 100%;
    height: 1px;
    margin-bottom: 10px;
    background: #222;
}
.menu_btn_line:last-child{
    margin-bottom: 0;
}

/* //////menu////// */
.main_menu_container{
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
    display: none;
    z-index: 9999;
}
.menu_active{
    display: block;
}
.menu_logo {
    font-size: 28px;
    font-weight: 700;
    font-family: 'Khula', sans-serif;
    color: #fff;
    position: absolute;
    left: 5%;
    top: 43px;
    z-index: 9;
}
.menu_logo a {display: inline-block;}
.menu_h_search{
    display: none;
}

/* ////////메뉴 햄버거 버튼//////// */
.menu_ch_btn{
    width: 30px;
    display: inline-block;
    position: absolute;
    right: 5%;
    top: 52px;
    z-index: 9;
    cursor: pointer;
}
.menu_ch_btn_line{
    width: 100%;
    height: 1px;
    margin-bottom: 10px;
    background: #fff;
}
.menu_ch_btn_line:last-child{
    margin-bottom: 0;
}
.menu_ch_line_top_ac {
    transform: translateY(11px) rotate(45deg);
    transition: all 0.5s;
}
.menu_ch_line_bot_ac {
    transform: translateY(-11px) rotate(-45deg);
    transition: all 0.5s;
}
/* /////////////////// */



.main_menu_bg{
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
}
.main_m_bg{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.main_m_bg1{
    opacity: 1;
    background: url(../img/menu/menu_bg_01.jpg) no-repeat center / cover;
    transition: all 0.3s;
}
.main_m_bg2,.main_m_bg3,.main_m_bg4 {
    opacity: 0;
    transition: all 0.3s;
}
.main_m_bg2 {background: url(../img/menu/menu_bg_02.jpg) no-repeat center / cover;}
.main_m_bg3 {background: url(../img/menu/menu_bg_03.jpg) no-repeat center / cover;}
.main_m_bg4 {background: url(../img/menu/menu_bg_04.jpg) no-repeat center / cover;}

.menu_line{
    width: 100vw;
    height: 1px;
    margin-top: 10px;
    position: absolute;
    top: 50%;
    left: 0;
    background: #fff;
    opacity: 0.5;
}
.menu_line2{
    width: calc(15% + 270px);
    height: 1px;
    margin-top: 10px;
    position: absolute;
    top: 50%;
    left: 0;
    background: #fff;
    opacity: 1;
}
.menu_outer{
    height: 100%;
    overflow: hidden;
    margin-left: 15%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    
}
.menu_item{
    height: 100%;
    padding: 0 95px 0;
    padding-top: calc(50vh - 220px);
    margin-right: 30px;
    box-sizing: border-box;
    float: left;
    font-family: 'Bodoni Moda', serif;
    color: #fff;
}
.menu_tit{
    font-size: 120px;
    font-weight: 500;
    text-align: center;
    opacity: 0.5;
    transition: all 0.2s;
}
.sm_menu_wrap{display: none;}
.menu_ul{
    width: 100%;
    margin: 50px 0;
    padding-top: 40px;
}
.menu_li{
    width: 100%;
    font-size: 30px;
    font-weight: 500;
    padding: 6px;
    box-sizing: border-box;
    position: relative;
    /* background: cadetblue; */
    /* border: 1px solid #fff; */
    opacity: 0.5;
    transition: all 0.2s;
    cursor: pointer;
}
.menu_col_item{
    width: 405px;
    height: 100%;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 170px;
    overflow: hidden;
    opacity: 0;
}
.menu_col_move{
    height: 100%;
    position: absolute;
    top: 0px;
}
.menu_img_box {
    float: left;
    display: flex;
    flex-direction: row;
    height: 100%;
}
.menu_col_m_logo{
    width: auto;
    height: 100%;
    max-height: 17px;
    margin: 0 10px;
    align-self: center;
}
.menu_col_item_ac {
    opacity: 1;
}
.menu_item:hover .menu_tit{
    opacity: 1;
}
.menu_li:hover {
    opacity: 1;
}
.menu_footer {
    font-size: 16px;
    color: #aaa;
    text-align: right;
    font-family: 'Khula', sans-serif;
    position: fixed;
    bottom: 7%;
    right: 5%;
}
.menu_fot_sns{
    margin: 18px 0;
    font-size: 19px;
}
.menu_fot_sns i {
    margin: 0 12px;
    transition: all 0.3s;
    cursor: pointer;
}
.menu_fot_sns i:hover{
    color: #fff;
}
.menu_footer_tel {
    margin-left: 20px;
}
.menu_footer p {
    margin: 3px 0;
    font-size: 16px;
}
.li_link .fas {
    color: #fff;
    font-size: 22px;
    padding-left: 12px;
    position: absolute;
    top: 18px;
    opacity: 0;
}
.li_link:hover .fas {opacity: 1;}
.sm_line {display: none;}

.header_fixed_ac {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 15%);
    transition: all 0.3s;
    z-index: 999;
}
.h_logo_ac {
    top: 50% !important;
    transform: translateY(-40%);
}
.h_col_search_ac {
    top: 50% !important;
    transform: translateY(-40%);
}
.h_menu_ac {
    top: 50% !important;
    transform: translateY(-42%);
}


/* //////////////////////반응형//////////////////////////////// */

@media (max-width: 855px) {
    .index_h_fix {
        background: linear-gradient(to bottom, rgba(0, 0, 0, .4) 0%,rgba(0, 0, 0, 0) 90%,rgba(0, 0, 0, 0) 100%);
    }
    .index_h_logo {
        letter-spacing: -1px;
        color: #fff !important;
        top: 17px;
    }
    .h_search {
        padding-right: 0;
        top: 22px;
        right: 44px;
    }
    .h_menu {
        top: 16px;
    }
    .index_h_sh_b{display: none !important;}
    .index_h_sh_w{display: block !important;}
    
    .h_menu b {
        display: none;
    }
    .menu_btn{
        width: 23px;
    }
    .index_h_btn_line{
        margin-bottom: 8px;
        background-color: #fff !important;
    }
    .menu_btn_line {
        margin-bottom: 8px;
    }

    /* ////햄버거 메뉴//// */
    
    .menu_logo {
        letter-spacing: -1px;
        top: 17px;
    }
    .menu_h_search{
        width: 28px;
        padding-right: 0;
        cursor: pointer;
        position: absolute;
        top: 21px;
        right: 13%;
        display: block;
        z-index: 9;
    }
    .menu_ch_btn{
        width: 23px;
        top: 21px;
    }
    .menu_ch_btn_line{
        margin-bottom: 8px;
    }
    .menu_ch_line_top_ac {
        transform: translateY(14px) rotate(45deg);
    }
    .menu_ch_line_bot_ac {
        transform: translateY(-4px) rotate(-45deg);
    }
    /* ///////////////// */
    .main_menu_container {
        height: auto;
        background: #111;
    }
    .main_menu_header {
        height: 70px;
    }
    .main_menu_bg{
        position: static;
    }
    .main_m_bg{
        display: none;
    }
    .menu_line, .menu_line2{
        display: none;
    }
    .menu_outer{
        width: 84%;
        margin-left: 0;
        /* ///////////////// */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        /* ///////////////// */
        /* overflow-y: scroll; */
        position: static;
        transform: translate(0);
        margin: 0 auto;
        padding-top: 0;
    }
    .menu_item{
        height: 100%;
        padding: 0;
        margin-right: 0;
        margin-bottom: 15px;
        float: none;
    }
    .menu_tit{
        font-size: 26px;
        text-align: left;
        margin-bottom: 10px;
    }
    .menu_ul{
        margin: 0;
        margin-left: 14px;
        padding-top: 0;
    }
    .menu_li{
        font-size: 15px;
        font-weight: 400;
        padding: 4px;
    }
    .col_menu_ul, .menu_col_item, .menu_col_move, .menu_img_box, .menu_col_m_logo{
        display: none;
    }
    .sm_menu_wrap{
        display: block;
    }
    .sm_ul_wrap{
        width: 100%;
        margin-bottom: 10px;
        margin-left: 10px;
        overflow-x: scroll;
    }
    .sm_col_brand{
        margin-left: 0;
        display: inline-block;
        opacity: 0.6;
        position: absolute;
    }
    .sm_col_brand:hover {
        opacity: 1;
    }
    .sm_menu_ul{
        display: inline-block;
        height: 66px;
        padding: 4px 0 14px;
        padding-top: 30px;
    }
    .sm_menu_ul1 {width: 2130px;}
    .sm_menu_ul2 {width: 1278px;}
    .sm_menu_ul3 {width: 568px;}
    .sm_menu_ul4 {width: 710px;}
    .sm_li_img{
        height: 100%;
        float: left;
        margin-left: 10px;
    }
    .sm_li_img img{
        width: auto;
        height: 100%;
    }
    .sm_li_img:first-child {
        margin-left: 0;
    }
    .sm_link{overflow-x: hidden;}
    .sm_col_brand .fas {
        font-size: 12px;
    }
    .menu_guarantee {
        margin-top: 20px;
    }
    /* //////////////////////////////// */
    .sm_line {
        width: 100%;
        color: #aaa;
        opacity: 0.5;
        display: block;
    }
    .menu_footer {
        font-size: 13px;
        text-align: left;
        position: static;
        margin-bottom: 40px;
        color: #666;
    }
    .menu_fot_sns{
        margin: 0;
        margin-top: 25px;
        margin-bottom: 10px;
    }
    .menu_fot_sns i {
        margin: 0 8px;
    }
    .menu_footer_tel {
        margin-left: 0;
    }
    .menu_footer p {
        margin: 3px 0;
        font-size: 12px;
    }
    .magnifier {
        display: none;
    }
}
@media (max-width: 768px) {
    .top_btn{
        width: 50px;
        height: 50px;
    }
}
@media (max-width: 380px) {
    .h_logo, .menu_logo {
        font-size: 22px;
        top: 20px;
    }
}
@media (max-width: 315px) {
    .h_logo, .menu_logo {
        font-size: 19px;
        top: 24px;
        letter-spacing: -2px;
    }
}















